@using Microsoft.AspNetCore.Identity;
@using MiBandNaramek.Areas.Identity.Data
@model IEnumerable<MiBandNaramek.Models.Helpers.UserViewData>
<h1>User List</h1>
<br />
<table class="table table-striped" id="userTable">
    <thead>
        <tr>
            <th>
                Uživatel
            </th>
            <th>
                Kontakt
            </th>
            <th>
                Naposledny měřeno
            </th>
            <th>
                Baterie v náramku
            </th>
            <th style="width:10%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @user.User.UserName
                            </a>
                            <br>
                            <small>
                                @user.User.Id
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <i class="fas fa-phone"> </i>
                            <a>
                                @user.User.PhoneNumber
                            </a>
                            <br>
                            <small>
                                <i class="fas fa-envelope"> </i>
                                @user.User.Email
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <a>
                        @user.LastSync
                    </a>
                </td>
                <td>
                    <a>
                        @if (user.BatteryData != null)
                        {
                            @user.BatteryData.Level
                        }
                        else
                        {
                            @Convert.ToInt32(-1)
                        }
                    </a>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' asp-controller="Summary" asp-action="Index" asp-route-User="@user.User.Id" class="dropdown-item">
                                <i class="fas fa-chart-line"></i> Summary
                            </a>
                            <a style='margin-right:16px' asp-controller="User" asp-action="Update" asp-route-User="@user.User.Id" class="dropdown-item">
                                <i class="fas fa-wrench"></i> Edit User
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script type="text/javascript" src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>

}