@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Text.Json
@model MiBandNaramek.Models.Helpers.SummaryViewData;

<div width="50%">
    <label>Vyberte období   :</label>
    <input class="form-control form-control-lg" width=40 type="text" name="datetimes" />
</div>
<div>
    <div width="500">
        <canvas id="lineChart"></canvas>
        @{ChartJSCore.Models.Chart chart = Model.Chart; }
    </div>

    <div width="500">
        <table class="table table-striped" id="userTable">
            <thead>
                <tr>
                    <th>
                        Od
                    </th>
                    <th>
                        Do
                    </th>
                    <th>
                        Počet kroků
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in Model.Activity)
                {
                    <tr>
                        <td>
                            <a>
                                @activity.DateStart
                            </a>
                        </td>
                        <td>
                            <a>
                                @activity.DateEnd
                            </a>
                        </td>
                        <td>
                            <a>
                                @activity.Steps
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script>

        @Html.Raw(chart.CreateChartCode("lineChart"));

        $(function () {
            console.log(@Html.Raw(Json.Serialize(Model.Od)));
            console.log(@Html.Raw(Json.Serialize(Model.Do)));
          $('input[name="datetimes"]').daterangepicker({
              timePicker: true,
              opens: 'right',
              startDate: @Html.Raw(Json.Serialize(Model.Od)),
              endDate: @Html.Raw(Json.Serialize(Model.Do)),
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
            },
              function (start, end, label) {
                  window.location.href = '@Url.Action("ChangeDate", "Summary")' + '?Od=' + start.format('DD/MM/YYYY HH:mm:00A') + '&Do=' + end.format('DD/MM/YYYY HH:mm:00A');
                  });
        });
    </script>
}

@{
}
